<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/PicEdit/edit.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__CSS__/UCenter/jquery.Jcrop.min.css">
</block>

<block name="body">
<div id="body">
    <div class="main">
        <!-- 修改头像 -->
        <form action="{:U('save')}" method="post">
            <div class="edit">
                <img src="{$pic.path}" id="cropbox" />
            </div>
            <input type="hidden" id="x" name="x" />
            <input type="hidden" id="y" name="y" />
            <input type="hidden" id="w" name="w" />
            <input type="hidden" id="h" name="h" />
            <!-- 隐藏表单 图片的地址 -->
            <input type="hidden" id='img_src' name='src' value="{$pic.path}" />
            <div class="op" url="{:U('image_edit')}">
                <p>当前尺寸： <span class="real-size"></span></p>
                <i class="fa fa-rotate-left" title="左转90度" value="0"></i>
                <i class="fa fa-rotate-right" title="右转90度" value="0"></i>
                <i class="fa fa-minus" title="缩小" value="0"></i>
                <i class="fa fa-plus" title="放大" value="0"></i>
                <i class="fa fa-cut" title="裁剪"></i>
                <a type="submit" class="submit" onclick="$('form').submit()">保 存</a>
            </div>
        </form>
    </div>
    <!-- <form action="{:U('UCenter/cropImg')}" method="post" id="pic" class="update-pic cf">
        <div class="preview-area">
            <div class="preview"><img src="{$pic.path}"></div>
            <input type="hidden" id="x" name="x" />
            <input type="hidden" id="y" name="y" />
            <input type="hidden" id="w" name="w" />
            <input type="hidden" id="h" name="h" />
            <input type="hidden" id='img_src' name='src'/>
            <div class="crop crop100"><img id="crop-preview-100" src="" alt=""></div>
            <div class="crop crop60"><img id="crop-preview-60" src="" alt=""></div>
            <a class="uppic-btn save-pic" href="javascript:;">保存</a>
            <a class="uppic-btn reupload-img" href="javascript:$('#user-pic').uploadify('cancel','*');">重新上传</a>
        </div>
    </form> -->
    <!-- /修改头像 -->
</div>
</block>

<block name="script">
    <script src="__JS__/UCenter/jquery.Jcrop.min.js"></script>
    <script src="__JS__/PicEdit/edit.js"></script>
</block>