<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/UCenter/dynamic.css" rel="stylesheet">
</block>

<block name="body">

<div id="body">
    <div id="top">
        <div class="avatar">
            <img src="{$user.avatar}">
        </div>
        <div class="info">
            <span class="user">{$user.username}</span>
            <div class="all">
                <div class="list"><p class="num">{$user.album_num}</p><p>相册</p></div>
                <div class="list"><p class="num">{$user.pic_num}</p><p>照片</p></div>
                <div class="list" style="border:0;"><p class="num">{$user.collect_num}</p><p>收藏</p></div>
            </div>
        </div>
    </div>
    <div id="tab">
        <ul>
            <li><a href="{:U('album',array('uid'=>$user['uid']))}">{$user_self?'我':'Ta'}的相册</a></li>
            <li><a href="{:U('dynamic',array('uid'=>$user['uid']))}">{$user_self?'我':'Ta'}的动态</a></li>
            <li><a href="{:U('collect',array('uid'=>$user['uid']))}">{$user_self?'我':'Ta'}的收藏</a></li>
            <li><a href="{:U('userdata',array('uid'=>$user['uid']))}">{$user_self?'我':'Ta'}的资料</a></li>
        </ul>
        <div style="border-bottom:1px solid #ccc"></div>
    </div>
    <notempty name="dyn_list">
        <volist name="dyn_list" id="dyn">
            <div class="dyn">
                <span class="left">
                    <img src="{$user.avatar}">
                </span>
                <div class="right">
                    <p>
                        <a href="{:U('album',array('uid'=>$user['uid']))}" class="name">
                            {$user_self?'我':$user['username']}
                        </a>：上传了 {$dyn.count} 张照片到相册 -- <a href="{:U('detail',array('uid'=>$user['uid'], 'album_id'=>$dyn['album']['id']))}" class="album">{$dyn['album']['name']}</a> <span>上传于{$dyn.create_time|time_format}</span>
                    </p>
                    <div class="photo">
                        <volist name="dyn.pic_list" id="pic">
                            <img xsrc="{$pic.pic_path}" src="{$pic.thumb_path}"/>
                        </volist>
                        <if condition="$dyn['count'] gt 10">
                            <a href="{:U('detail',array('uid'=>$user['uid'], 'album_id'=>$dyn['album']['id']))}" class="more">更多..</a>
                        </if>
                    </div>
                </div>
            </div>
        </volist>
    <else/>
        <div style="padding:20px;color:#555;">暂时没有动态哦、</div>
    </notempty>
    <div class="big-img" id="show-img"><img src=""></div>
    <div class="screen"></div>
</div>

</block>

<block name="script">
    <script src="__JS__/UCenter/dynamic.js"></script>
</block>